.header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
}

.link {
    font-size: 18px;
}

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.image {
    width: 75px;
    height: auto;
}